/Guia_recetario_pa_noperderme.txt
/numeros.py
/practicas.py
/proecto3_analizador_de_texto.py
/proyecto2_comisiones.py
/proyecto4.py
/proyectoDia6.py
/proyecto_dia7.py
/proyecto_dia8.py
/pruebaa.txt
/prueba_cont_eliminado.txt
/__pycache__